.column {
  width: 90%;
  max-width: 800px;
  margin: 20px auto;
  padding: 32px;
  border-radius: 20px;
  box-shadow: 0 3px 6px 0 rgba(0, 0, 0, 0.16);
  background-color: #8cd9d1;
}

.seperationline {
  width: 358px;
  height: 50px;
  margin: 20px 0 0;
  color: rgba(0, 0, 0, 0.3);
}

.columnimg {
  width: 40%;
  margin: 0 auto 20px;
  border-radius: 10px;
}

.drop {
  /* background-color: white; */
  border-radius: 10px;
  border: none;
  box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
  color: #023e74;
  text-align: center;
  font-size: 18px;
  font-weight: 500;
  padding: 12px;
  /* margin-right: 20px; */
  margin-bottom: 8%;
}

.drop img {
  width: 90%;
  height: 90%;
  border-radius: inherit;
  margin-top: 4%;
  transform: translate(5%, 0%);
}

.btn {
  width: 260px;
  height: 44px;
  margin: 20px 20px;
  border-radius: 10px;
  white-space: nowrap;
  box-shadow: 0 3px 6px 0 rgba(0, 0, 0, 0.16);
  /* background-color: #03a60f; */
}

.header {
  width: 100%;
    height: 68px;
    padding: 8px 140px 7px;
    background-color: #023e74;
    display: flex;
    align-items: center;
}

.headertitle {
  width: 108px;
  height: 53px;
  margin-left: auto;
  margin-right: auto;
  font-family: 'Open Sans', sans-serif;
  font-size: 40px;
  font-weight: 500;
  color: white;
  text-align: center;
}

.textheader {
  font-family: 'Open Sans', sans-serif;
  font-size: 16px;
  font-weight: normal;
  line-height: 1.5;
  color: white;
  margin: 15px 0 9px 20px;
}

.back {
  width: 1920px;
  height: 1080px;
  padding: 0 0 27px;
  /* background-color: var(--white); */
}

.dropdown {
  background-color: white;
  border-radius: 10px;
  border: none;
  box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
  color: #023e74;
  font-family: Roboto;
  font-size: 18px;
  font-weight: 500;
  padding: 12px;
  margin-right: 20px;
  width: 200px;
}

.dropdown:focus {
  outline: none;
  box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.3);
}
